<div>
    <app-cabecalho></app-cabecalho>
</div>

<div class="container">

    <br>

    <div class="row">

        <div class="col-sm">
        </div>

        <div class="col-sm text-center">

            <mat-form-field appearance="fill">
                <mat-label>Selecionar gênero</mat-label>
                <mat-select disableRipple (click)="generoEnter()" 
                    (selectionChange)="generoSelecionado($event)">
                    <mat-option *ngFor="let genero of generos" [value]="genero.titulo">
                        {{genero.titulo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-sm">
        </div>

    </div>

    <div class="row">
        <div class="col-sm"  *ngFor="let album of albuns">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{album.titulo}}</mat-card-title>
                    <mat-card-subtitle>{{album.descricao}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p><star-rating [value]="5" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px" [readonly]="false" (rate)="onRate($event)"></star-rating></p>
                    <button mat-raised-button color="primary">CURTIR</button>
                    <button mat-button align="right">COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>
