<div class="fixed-top" *ngIf="carregando">
    <app-loading></app-loading>
</div>

<div class="container">
    <div class="div-center">
        <div class="content">


            <div class="text-center">
                <span class="material-icons md-48">
                    account_circle
                </span>
            </div>
            <hr />
            <form>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control textBox" placeholder="exemplo@postinico.com">
                </div>
                <div class="form-group">
                    <label>Senha:</label>
                    <input type="password"[(ngModel)]="senha" name="senha"  class="form-control textBox" placeholder="Password">
                </div>
                <button mat-raised-button color="primary" class="btn-block" (click)="login()">Iniciar Sessão</button>
                <hr />
                <button mat-stroked-button color="primary" class="btn-block">Criar conta</button>
            </form>

          

        </div>
        

    </div>
</div>